<!Doctype html>
<html>
<head>
	<title> Контакты | НСТ "Восток" </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset='UTF-8'>
	<meta name='description' content="Официальный сайт товарищества НСТ Восток">
	<meta name='keywords' content="Официальный, сайт, товарищества, НСТ, Восток">
	<meta name='author' content="Degtyarev">
	<link rel='shortcut icon' type="image/png" href="../img/cvetok.png">
	<link rel="Stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
	<div class="head">
		<div class="run_str"><marquee>Добро пожаловать на официальный сайт некоммерческого садового товарищества "Восток"!!!</marquee></div>
		<div class="black_bars">
			<div class="bar one"></div>
			<div class="bar two"></div>
			<div class="bar thr"></div>
		</div>
		<nav>
			<a href="../index.html" class="link_for_mobile_menu">Главная</a>
			<a href="novosti.html" class="link_for_mobile_menu">Новости</a>
			<a href="documenti.html" class="link_for_mobile_menu">Документы</a>
			<a href="gallery.html" class="link_for_mobile_menu">Галерея</a>
			<a href="kontakti.html" style="color: #3548A6; background-color: #fff" class="link_for_mobile_menu">Контакты</a>
		</nav>
	</div>
	<div class="before_sl">
	</div>
	<div class="contacts">
		<h1 style="text-align: center; color: #5C909C; font-size: 50px">Контакты</h1>
		<p>
			Адрес правления: <br> текст <br>
			Телефон: <br> текст <br>
			Соцсети: <br> текст <br>
		</p>
	</div>
	<div class="before_sl">
	</div>
	<div class="footer" style="position: fixed; bottom: 0px; left: 0px">
		<footer>
			© 2021 СНТ "Восток". <br>
			Все права защищены.
		</footer>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="..\scripts\script.menu.js"></script>
</body>
</html>